<nz-card [nzCover]="coverTemplate" [nzActions]="[actionDownload, actionShare]">
  <nz-card-meta
    [nzTitle]="song.title"
    [nzDescription]="true ? cardDescription : false"
  >
    <ng-template #cardDescription>
      <div
        class="card-description"
        nz-tooltip
        nzTooltipTitle="prompt text"
        [title]="song.source"
      >
        {{ song.source }}
      </div>
      <div
        class="drawer bottom download-drawer"
        [class.drawn]="openedDrawer === DRAWERS.DOWNLOAD"
      >
        <div nz-rownzType="flex">
          <!-- TODO: add id to the link -->
          <a nz-col nzSpan="12">
            <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
            <span>Sheets (PDF)</span>
          </a>
          <!-- TODO: add id to the link -->
          <a nz-col nzSpan="12">
            <i nz-icon nzType="file-markdown" nzTheme="outline"></i>
            <span>MIDI</span>
          </a>
        </div>
        <div nz-row nzType="flex">
          <!-- TODO: add id to the link -->
          <a nz-col nzSpan="12">
            <i nz-icon nzType="play-circle" nzTheme="outline"></i>
            <span>open MP3 in browser</span>
          </a>
          <!-- TODO: add id to the link -->
          <a nz-col nzSpan="12">
            <i nz-icon nzType="youtube" nzTheme="outline"></i>
            <span>Play On YouTube</span>
          </a>
        </div>
      </div>
    </ng-template>
  </nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <!-- TODO: add id to the link -->
  <a class="card-cover-image-overlay">
    <div>
      <div>
        Open Song Page
      </div>
    </div>
  </a>
  <div
    class="card-cover-image"
    [style.background-image]="'url(' + song.img + ')'"
  ></div>
</ng-template>
<ng-template #actionDownload>
  <i nz-icon nzType="download" (click)="toggleDrawer(DRAWERS.DOWNLOAD)"></i>
</ng-template>
<ng-template #actionShare>
  <i nz-icon nzType="share-alt" (click)="toggleDrawer(DRAWERS.SHARE)"></i>
</ng-template>
