<nz-card [nzCover]="coverTemplate" [nzActions]="[actionDownload, actionShare]">
  <nz-card-meta
    [nzTitle]="song.title"
    [nzDescription]="true ? cardDescription : false"
  >
    <ng-template #cardDescription>
      <div
        class="card-description"
        nz-tooltip
        nzTooltipTitle="prompt text"
        [title]="song.source"
      >
        {{ song.source }}
      </div>
      <div
        class="drawer bottom download-drawer"
        [class.drawn]="openedDrawer === DRAWERS.DOWNLOAD"
      >
        <div nz-rownzType="flex">
          <!-- TODO: add id to the link -->
          <a nz-col nzSpan="12" [href]="'https://lyricwulf.com/songs/' + song.urlId + '/download/pdf'">
            <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
            <span>Sheets (PDF)</span>
          </a>
          <!-- TODO: add id to the link -->
          <a nz-col nzSpan="12" [href]="'https://lyricwulf.com/songs/' + song.urlId + '/download/mid'">
            <i nz-icon nzType="file-markdown" nzTheme="outline"></i>
            <span>MIDI</span>
          </a>
        </div>
        <div nz-row nzType="flex">
          <!-- TODO: add id to the link -->
          <a nz-col nzSpan="12">
            <i nz-icon nzType="play-circle" nzTheme="outline"></i>
            <span>Play MP3 (not done)</span>
          </a>
          <!-- TODO: add id to the link -->
          <a
            nz-col
            nzSpan="12"
            [href]="'https://www.youtube.com/watch?v=' + song.youtubeId"
          >
            <i nz-icon nzType="youtube" nzTheme="outline"></i>
            <span>YouTube</span>
          </a>
        </div>
      </div>
      <div
        class="drawer top share-drawer"
        [class.drawn]="openedDrawer === DRAWERS.SHARE"
      >
        <div nz-rownzType="flex">
          <!-- TODO: add id to the link -->
          <a
            nz-col
            nzSpan="8"
            [href]="'https://pinterest.com/pin/create/bookmarklet/?media=LyricWulf&amp;url=https://lyricwulf.com/songs/' + song.urlId + '&amp;is_video=false&amp;description=Lyricwulf%27s arrangement of ' + song.title"
            class="waves-effect waves-light"
          >
            <img
              src="assets/img/icons/Pinterest.svg"
              alt="Pinterest"
              class="responsive-img"
              style="background-color: #bd081c;"
            />
          </a>
          <!-- TODO: add id to the link -->
          <a
            nz-col
            nzSpan="8"
            [href]="'https://www.reddit.com/submit?url=https://lyricwulf.com/songs/' + song.urlId + '&amp;title=Lyricwulf%27s arrangement of ' + song.title"
            class="waves-effect waves-light"
          >
            <img
              src="assets/img/icons/Reddit.svg"
              alt="Reddit"
              class="responsive-img"
              style="background-color: orangered;"
            />
          </a>
          <!-- TODO: add id to the link -->
          <a
            nz-col
            nzSpan="8"
            [href]="'https://twitter.com/intent/tweet?status=Lyricwulf%27s arrangement of ' + song.title + '+https://lyricwulf.com/songs/' + song.urlId"
            class="waves-effect waves-light"
          >
            <img
              src="assets/img/icons/Twitter.svg"
              alt="Twitter"
              class="responsive-img"
              style="background-color: #55acee;"
            />
          </a>
        </div>
        <div nz-rownzType="flex">
          <!-- TODO: add id to the link -->
          <a
            nz-col
            nzSpan="8"
            [href]="'https://www.facebook.com/sharer/sharer.php?u=https://lyricwulf.com/songs/' + song.urlId + '&amp;title=Lyricwulf%27s arrangement of ' + song.title"
            class="waves-effect waves-light"
          >
            <img
              src="assets/img/icons/Facebook.svg"
              alt="Facebook"
              class="responsive-img"
              style="background-color: #3a5a99;"
            />
          </a>
          <!-- TODO: add id to the link -->
          <a
            nz-col
            nzSpan="8"
            [href]="'https://www.tumblr.com/share?v=3&amp;u=https://lyricwulf.com/songs/' + song.urlId + '&amp;t=LyricWulf%27s arrangement of ' + song.title"
            class="waves-effect waves-light"
          >
            <img
              src="assets/img/icons/Tumblr.svg"
              alt="Tumblr"
              class="responsive-img"
              style="background-color: #3b445c;"
            />
          </a>
          <!-- TODO: add id to the link -->
          <a
            nz-col
            nzSpan="8"
            [href]="'https://wa.me/?text=Lyricwulf%27s arrangement of ' + song.title + ':%0Ahttps://lyricwulf.com/songs/' + song.urlId"
            class="waves-effect waves-light"
          >
            <img
              src="assets/img/icons/WhatsApp.svg"
              alt="WhatsApp"
              class="responsive-img"
              style="background-color: #45d354;"
            />
          </a>
        </div>
      </div>
    </ng-template>
  </nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <!-- TODO: add id to the link -->
  <a class="card-cover-image-overlay" [href]="'https://lyricwulf.com/songs/' + song.urlId">
    <div>
      <div>
        Open Song Page
      </div>
    </div>
  </a>
  <div
    class="card-cover-image"
    [style.background-image]="
      'url(https://img.youtube.com/vi/' + song.youtubeId + '/mqdefault.jpg)'
    "
  ></div>
</ng-template>
<ng-template #actionDownload>
  <i nz-icon nzType="download" (click)="toggleDrawer(DRAWERS.DOWNLOAD)"></i>
</ng-template>
<ng-template #actionShare>
  <i nz-icon nzType="share-alt" (click)="toggleDrawer(DRAWERS.SHARE)"></i>
</ng-template>
