<div id="header-content" nz-row>
  <div nz-col nzSpan="8">
    {{ isFloating ? "floating" : "fixed" }} Header!
  </div>
  <div nz-col nzSpan="8">
    <nz-input-group [nzPrefix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Search... (does not work yet)" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i id="suffix-icon-search" nz-icon nzType="search" (click)="log()"></i>
    </ng-template>
  </div>
  <div nz-col nzSpan="8" style="text-align: end;">Get In Touch!</div>
</div>
